.TodoApp {    
    text-align: center;
    color: #222;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin: 50px auto;
    width: 450px;
    min-height: 500px;
    background: url('http://lh3.googleusercontent.com/hkD0ut_Lg7WNVwpg5JbPGLfnWP81dqnTAj5ELdVbiz5dUgbB7onEOfdOcD1eYpaSmvKT6rZmOL1v3XhiRktp=s0') fixed  no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;       
    border: 1px solid rgb(0, 0, 0);
    
}
.TodoApp:before { 
    width: 500px;
    min-height: 550px;
    content: "";
    position: absolute;
    top: -25px;
    
    bottom: 0;
    right: 0;
    background: inherit;
    
    box-shadow: inset 0 0 0 300px rgba(0, 0, 0, 0.2);
    filter: blur(5px);
}
